<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="bg-slate-100 text-black text-opacity-85 px-8 py-8">
    <header>
      <h1>briandant.com</h1>
    </header>
    <nav>
      <ul>
        {% comment %}
        <li><a href="#home">Home</a></li>
        {% endcomment %} {% comment %}
        <li><a href="#about">About</a></li>
        {% endcomment %} {% comment %}
        <li><a href="#contact">Contact</a></li>
        {% endcomment %}
      </ul>
    </nav>
    <main>
      <h1 class="text-2xl">Recent Notes</h1>

      <ul>
        {%- for post in collections.note reversed -%}
        <li>
          <a class="text-blue-500 hover:underline" href="{{ post.url }}">
            {{ post.data.title }} 
            <time datetime="{{ post.data.page.date | date: '%Y-%m-%d' }}">
              [ {{ post.data.page.date | date: '%B %d, %Y' }} ]
            </time>
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </main>
    <footer class="absolute bottom-0 pb-8" >
        <p><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer">Creative Commons Attribution 4.0 International License</a>.</p>
    </footer>
  </body>
</html>
