<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
<body class="flex flex-col min-h-screen text-black bg-slate-100 text-opacity-85" style="font-family: Georgia, 'Times New Roman', Times, serif;"></body>
    <header class="mb-4 px-8 pt-8">
      <h1>briandant.com</h1>
    </header>
    <nav>
      <ul>
      {% comment %}
        <li><a href="#home">Home</a></li>
      {% endcomment %}
      {% comment %}
        <li><a href="#about">About</a></li>
      {% endcomment %}
      {% comment %}
        <li><a href="#contact">Contact</a></li>
      {% endcomment %}
      </ul>
    </nav>
    <main class="px-8">
        {{ content }}
    </main>
    <footer class="p-8 mt-auto bg-blue-100">
        <p>
        <a class=" underline" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
            rel="noopener noreferrer">Attribution-NonCommercial-ShareAlike 4.0 International</a>.</p>
    </footer>
  </body>
</html>
